div {
    margin-bottom: 20px;
  }
  .correct, .incorrect {
    text-transform: capitalize;
  }

.start-button {
  background-color:black;
}


HTML,BODY{
  cursor: url("http://downloads.totallyfreecursors.com/cursor_files/lightsaberblue.cur"), 
  url("http://downloads.totallyfreecursors.com/thumbnails/light-saber-blue.gif"), auto;
}

footer{
  background: #ffffff;
  width: 100%;
  height: 95px;
  border-top-style:  solid;
  border-top-width: 5px;
  color: #000000;
  text-align: center;
  float: left;
  line-height: 600%;
  font-size: 12pt;
}