div {
    margin-bottom: 20px;
  }
  .correct, .incorrect {
    text-transform: capitalize;
  }

.start-button {
  background-color:black;
}


HTML,BODY{
  cursor: url("http://downloads.totallyfreecursors.com/cursor_files/lightsaberblue.cur"), 
  url("http://downloads.totallyfreecursors.com/thumbnails/light-saber-blue.gif"), auto;
}